@page "/drag"
@using DocuitWeb.Models

@inject UserService userService
@inject ProjectService project

<hr/>
<div class="bg-light">First Dropzone:</div>
<Dropzone Items="companyCompanyUserList" TItem="ProjectUserSecurity">
    <div style="margin:2px;border:1px;background-color:green">@context.Name @context.FamilyName</div>
</Dropzone>
<hr />
<div class="bg-light">Second Dropzone: (only accepts items containing the word 'fun')</div>
<Dropzone Items="selectedUsersList" TItem="ProjectUserSecurity">
    <div>@context.Name @context.FamilyName</div>
</Dropzone>
<hr />

@*<div class="row">
    <div class="col" style="border:dotted">
        <Dropzone Items="companyCompanyUserList" TItem="ProjectUserSecurity">
            <div style="margin:2px;border:1px;background-color:green">@context.Name @context.FamilyName</div>
        </Dropzone>
    </div>
    <div class="col" style="border:double; background-color:lightgreen">
        <Dropzone Items="selectedUsersList" TItem="ProjectUserSecurity">
            <div>@context.Name @context.FamilyName</div>
        </Dropzone>
    </div>
</div>*@
<button class="btn btn_general btn-success" @onclick="ButtonClick">Check Debug</button>

@code
{
    List<ProjectUserSecurity> companyCompanyUserList = new List<ProjectUserSecurity>();
    List<ProjectUserSecurity> selectedUsersList = new List<ProjectUserSecurity>();
    ProjectUserSecurity companyUser = new ProjectUserSecurity();
    ProjectUserSecurity selectedUser = new ProjectUserSecurity();

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<ProjectUserSecurity> returnList = new List<ProjectUserSecurity>();

        companyCompanyUserList = await project.FetchProjectUser(1, 1);
        selectedUsersList = await project.FetchProjectUserSecurity(1, 1);

    }

    void ButtonClick(EventArgs e)
    {
        
    }
}