@page "/testscoped"

@inject IStringLocalizer<User> Localizer
@inject QuestionnaireQAService QuestionnaireService

<div class="container text-left">
    <h3 class="PageHeader">Testing d'Inventari/Questionari</h3>
    <br />
    <h4>@questionnaireType </h4>
    <br />
    @foreach (Questionnaire question in questionnaire)
    {
        if (previous_paragraph != question.ParagraphId)
        {
            previous_paragraph = question.ParagraphId;
            <h5 class="questionnaire_paragraph_name">@question.ParagraphName</h5>
        }
        <div class="row">
            <div class="col-2">
                @question.QuestionId
            </div>
            <div class="col-6">
                @question.QuestionText
            </div>
            <div class="col-4">
                <input type="text" id="@question.QuestionId" name="question.QuestionId" @bind="@question.Answer">
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            <button class="btn btn_general btn-success" @onclick="OnClickPutButton">@SharedLocalizer["MSG_SAVE"]</button>
        </div>
    </div>
</div>

    @code{
        IEnumerable<DocuitWeb.Models.Questionnaire> questionnaire = new List<DocuitWeb.Models.Questionnaire>();
        DocuitWeb.Models.Questionnaire question { get; set; }
        IEnumerable<DocuitWeb.Models.QuestionnaireReportAnswers> answers = new List<DocuitWeb.Models.QuestionnaireReportAnswers>();
        DocuitWeb.Models.QuestionnaireReportAnswers answer { get; set; }

        string questionnaireType;
        int previous_paragraph = -1;

        protected override async Task OnInitializedAsync()
        {
            myBlocker.Show();
            QuestionnaireService.parameters.CompanyId = 1;
            QuestionnaireService.parameters.ProjectId = 1;
            QuestionnaireService.parameters.DossierId = 1;
            QuestionnaireService.parameters.QuestionnaireReportId = 1;

            questionnaire = await QuestionnaireService.FetchAsyncQuestionnaireQuestions();
            if (questionnaire != null)
            {
                questionnaireType = questionnaire.First().QuestionnaireTypeName;
            }
            //answers = await QuestionnaireService.FetchAsyncQuestionnaireAnswers();

            myBlocker.Hide();
        }

        private async void OnClickPutButton()
        {
            // We go thru all the structure creating the new one to be passed
            // to the service.
            // The original one is not used to avoid network traffic.
            // So we only upload to the service a reduced object containing
            // entity keys and the answers.
            ICollection<QuestionnaireReportAnswers> questionnaireReportAnswers = new List<QuestionnaireReportAnswers>();
            QuestionnaireReportAnswers questionReportAnswer;
            int i;

            myBlocker.Show();
            foreach (Questionnaire question in questionnaire)
            {
                questionReportAnswer = new QuestionnaireReportAnswers();

                questionReportAnswer.CompanyId = question.CompanyId;
                questionReportAnswer.ProjectId = question.ProjectId;
                questionReportAnswer.DossierId = question.DossierId;
                questionReportAnswer.QuestionnaireReportId = question.QuestionnaireReportId;
                questionReportAnswer.QuestionId = question.QuestionId;
                questionReportAnswer.Answer = question.Answer;

                questionnaireReportAnswers.Add(questionReportAnswer);
            }

            if (questionnaireReportAnswers.Count > 0)
            {
                i = await QuestionnaireService.SaveQuestionnaire(questionnaireReportAnswers);
                myBlocker.Hide();
                if (i == 0)
                {
                    toastService.ShowSuccess(@SharedLocalizer["OP_OK"], @SharedLocalizer["OP_OK_TITLE"]);
                }
                else
                {
                    toastService.ShowError(@SharedLocalizer["OP_FAIL"], @SharedLocalizer["OP_FAIL_TITLE"]);
                }
            }
            myBlocker.Hide();
        }
    }
