@page "/buildingtype"
@using System.ComponentModel

@inject IStringLocalizer<BuildingType> Localizer
@inject BuildingTypeService BuildingTypeService

<h3 class="PageHeader">@Localizer["title"]</h3>
<DataGrid TItem="DocuitWeb.Models.BuildingType" Editable="false" Data="@objList" @bind-SelectedRow="@obj" RowClicked="@Edit" 
          Filterable="true" Sortable="true"
          ShowPager="true" PageSize="5" Narrow="true" Hoverable="true" 
          SelectedRowStyling="@OnSelectedRowStyling">
    <DataGridCommandColumn TItem="DocuitWeb.Models.BuildingType"  />
    <DataGridColumn Width="100px" Readonly="true" TItem="DocuitWeb.Models.BuildingType" Field="@nameof(DocuitWeb.Models.BuildingType.Id)" Caption="@Localizer["id"]" TextAlignment="TextAlignment.Left" />
    <DataGridColumn TItem="DocuitWeb.Models.BuildingType" Field="@nameof(DocuitWeb.Models.BuildingType.Name)" Caption="@Localizer["description"]" TextAlignment="TextAlignment.Justified" />
</DataGrid>

<div class="d-flex justify-content-center">
    <button class="btn btn_general btn-success" @onclick="Add">@SharedLocalizer["MSG_ADD"]</button>
</div>

<Modal @ref="modalWindow" Closing="@OnClosing">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Default" Centered="true">
        <ModalHeader>
            <i class="fas fa-edit fa-2x"></i>
            <ModalTitle>@Localizer["edit"]</ModalTitle>
            <CloseButton Clicked="@CloseModal" />
        </ModalHeader>
        <ModalBody>
            <Addons>
                <Addon AddonType="AddonType.Start">
                    <AddonLabel Class="addonlabel_style">@Localizer["id"]</AddonLabel>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@objEdit.Id" />
                </Addon>
            </Addons>
            <Addons>
                <Addon AddonType="AddonType.Start">
                    <AddonLabel Class="addonlabel_style">@Localizer["description"]</AddonLabel>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@objEdit.Name" />
                </Addon>
            </Addons>
        </ModalBody>
        <ModalFooter>
            <button class="btn btn_general btn-success" @onclick="Save">@SharedLocalizer["MSG_SAVE"]</button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code
{
    IEnumerable<DocuitWeb.Models.BuildingType> objList = new List<DocuitWeb.Models.BuildingType>();
    DocuitWeb.Models.BuildingType obj = new DocuitWeb.Models.BuildingType();
    DocuitWeb.Models.BuildingType objEdit = new DocuitWeb.Models.BuildingType();

    //Modal
    private Modal modalWindow;
    private bool IsNew = false;

    protected override async Task OnInitializedAsync()
    {
        myBlocker.Show();
        objList = await BuildingTypeService.FetchGetAllAsync();
        if (objList == null) { toastService.ShowError(@SharedLocalizer["OP_FAIL"], @SharedLocalizer["OP_FAIL_TITLE"]); }
        myBlocker.Hide();
    }

    private void Edit()
    {
        objEdit = (DocuitWeb.Models.BuildingType)obj.Clone();
        modalWindow.Show();
    }

    private async void Save()
    {
        myBlocker.Show();
        obj = await BuildingTypeService.UpdateAsync(objEdit);
        myBlocker.Hide();

        if (obj == null)
        {
            toastService.ShowError(@SharedLocalizer["OP_FAIL"], @SharedLocalizer["OP_FAIL_TITLE"]);
        }
        else
        {
            toastService.ShowSuccess(@SharedLocalizer["OP_OK"], @SharedLocalizer["OP_OK_TITLE"]);
        }
    }

    private void Add()
    {
        IsNew = true;
        objEdit = new Models.BuildingType();
        objEdit.CompanyId = 1;
        OpenModal();
    }

    // Modal
    private void CloseModal()
    {
        modalWindow.Hide();
    }

    private void OpenModal()
    {
        modalWindow.Show();
    }

    private void OnClosing(CancelEventArgs e)
    {
        //WorkingCenterService.Detach(obj);
        e.Cancel = false;
        IsNew = false;
        StateHasChanged();
    }

    void OnSelectedRowStyling(DocuitWeb.Models.BuildingType obj, DataGridRowStyling styling)
    {
        styling.Background = Background.Info;
    }
}