@page "/ProjectSecurity"
@using System.ComponentModel

@inject IStringLocalizer<ProjectSecurity> Localizer
@inject ProjectService ProjectService
@inject BuildingTypeProjectService BuildingTypeProjectServiceService
@inject StatusService StatusService


<h3 class="PageHeader">@Localizer["title"]</h3>
<br />
<div class="row">
    <div class="col-6">
        <div draggable="true" class="">@Localizer["availableusers"]</div>
        <Dropzone Items="companyCompanyUserList" TItem="ProjectUserSecurity">
            <div draggable="true" class="mt-2" style="border: 1px solid blue">@context.Name @context.FamilyName</div>
        </Dropzone>
    </div>
    <div class="col-6">
        <div draggable="true" class="">@Localizer["assignedusers"]</div>
        <Dropzone Items="selectedUsersList" TItem="ProjectUserSecurity">
            <div draggable="true" class="mt-2" style="border: 1px solid green">@context.Name @context.FamilyName</div>
        </Dropzone>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn_general btn-success" @onclick="SaveProjectSecurity">@SharedLocalizer["MSG_SAVE"]</button>
    </div>
 </div>
 <br />

    @code
{

        [Parameter]
        public Project myProject { get; set; }

        List<ProjectUserSecurity> companyCompanyUserList = new List<ProjectUserSecurity>();
        List<ProjectUserSecurity> selectedUsersList = new List<ProjectUserSecurity>();
        ProjectUserSecurity companyUser = new ProjectUserSecurity();
        ProjectUserSecurity selectedUser = new ProjectUserSecurity();

        protected override async Task OnInitializedAsync()
        {
            IEnumerable<ProjectUserSecurity> returnList = new List<ProjectUserSecurity>();

            companyCompanyUserList = await ProjectService.FetchProjectUsers(myProject);
            selectedUsersList = await ProjectService.FetchProjectUserSecurity(myProject);

        }

        void SaveProjectSecurity(EventArgs e)
        {
            Task<int> i =  ProjectService.SaveProjectUserSecurity(selectedUsersList);

        }
    }
