@page "/projectsearch"
@using DocuitWeb.Data

@inject IStringLocalizer<ProjectSearch> Localizer
@inject ProjectService ProjectService
@inject StatusService StatusService

<h3 class="PageHeader">@Localizer["MSG001"]</h3>

<DataGrid TItem="DocuitWeb.Models.Project" Editable="false" Data="@projects" 
          Filterable="true" Sortable="true" SelectedRow="@project" RowClicked="@RowClick"
          SelectedRowStyling="@OnSelectedRowStyling" 
          ShowPager="true" PageSize="5" Narrow="true" Hoverable="true" SelectionMode="DataGridSelectionMode.Single">
    <DataGridCommandColumn TItem="DocuitWeb.Models.Project" />
    <DataGridColumn TItem="DocuitWeb.Models.Project" Field="@nameof(DocuitWeb.Models.Project.ReferenceId)" Caption="@Localizer["MSG004"]" TextAlignment="TextAlignment.Left" />
    <DataGridColumn TItem="DocuitWeb.Models.Project" Field="@nameof(DocuitWeb.Models.Project.Name)" Caption="@Localizer["MSG005"]" TextAlignment="TextAlignment.Justified" />
</DataGrid>

@code
{
    IEnumerable<DocuitWeb.Models.Project> projects = new List<DocuitWeb.Models.Project>();
    IEnumerable<DocuitWeb.Models.Status> statuses = new List<DocuitWeb.Models.Status>();

    [Parameter] 
    public Project project { get; set; }
    [Parameter]
    public EventCallback<Project> OnUserClickTable { get; set; }

    Status status = new Status();

    protected override async Task OnInitializedAsync()
    {
        myBlocker.Show();
        projects = await ProjectService.FetchGetAllAsync();
        if (projects == null) { toastService.ShowError(@SharedLocalizer["OP_FAIL"]); }
        statuses = await StatusService.FetchGetAllAsync();
        myBlocker.Hide();
    }

    string GetStatusName(int id)
    {
        return statuses.FirstOrDefault(x => x.StatusId == id).Name;
    }

    void OnSelectedRowStyling(Project project, DataGridRowStyling styling)
    {
        styling.Background = Background.Dark;
        styling.Color = Color.Danger;
        StateHasChanged();
    }

    void RowClick(DataGridRowMouseEventArgs<Project> e)
    {
        OnUserClickTable.InvokeAsync(e.Item);
    }

    void HeaderRow()
    {
        //return null;
    }
}