@page "/workingcenter"
@using System.ComponentModel

@inject IStringLocalizer<WorkingCenter> Localizer
@inject WorkingCenterService WorkingCenterService

<h3 class="PageHeader">@Localizer["title"]</h3>

<DataGrid TItem="DocuitWeb.Models.WorkingCenter" Editable="false" Data="@objList" @bind-SelectedRow="@obj" RowClicked="@Edit"
          Filterable="true" Sortable="true"
          ShowPager="true" PageSize="5" Narrow="true" Hoverable="true">
    <DataGridCommandColumn TItem="DocuitWeb.Models.WorkingCenter"/>
    <DataGridColumn Width="100px" Readonly="true" TItem="DocuitWeb.Models.WorkingCenter" Field="@nameof(DocuitWeb.Models.WorkingCenter.Id)" Caption="@Localizer["id"]" TextAlignment="TextAlignment.Left" />
    <DataGridColumn TItem="DocuitWeb.Models.WorkingCenter" Field="@nameof(DocuitWeb.Models.WorkingCenter.Name)" Caption="@Localizer["description"]" TextAlignment="TextAlignment.Justified" />
</DataGrid>

<div class="d-flex justify-content-center">
    <button class="btn btn_general btn-success" @onclick="Add">@SharedLocalizer["MSG_ADD"]</button>
</div>

<Modal @ref="modalWindow" Closing="@OnClosing">
    <ModalContent Size="ModalSize.Default" Centered="true">
        <ModalHeader>
            <i class="fas fa-edit fa-2x"></i>
            <ModalTitle>@Localizer["edit"]</ModalTitle>
            <CloseButton Clicked="@CloseModal" />
        </ModalHeader>
        <ModalBody>
            <Addons>
                <Addon AddonType="AddonType.Start">
                    <AddonLabel Class="addonlabel_style">@Localizer["id"]</AddonLabel>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@obj.Id" />
                </Addon>
            </Addons>
            <Addons>
                <Addon AddonType="AddonType.Start">
                    <AddonLabel Class="addonlabel_style">@Localizer["description"]</AddonLabel>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@obj.Name" />
                </Addon>
            </Addons>
        </ModalBody>
        <ModalFooter>
            <button class="btn btn_general btn-success" @onclick="Save">@SharedLocalizer["MSG_SAVE"]</button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code
{
    IEnumerable<DocuitWeb.Models.WorkingCenter> objList = new List<DocuitWeb.Models.WorkingCenter>();
    DocuitWeb.Models.WorkingCenter objEdit = new DocuitWeb.Models.WorkingCenter();
    DocuitWeb.Models.WorkingCenter obj { get; set; }
    DocuitWeb.Models.WorkingCenter buldingTypeRow { get; set; }

    //Modal
    private Modal modalWindow;
    private bool IsNew = false;

    protected override async Task OnInitializedAsync()
    {
        myBlocker.Show();
        objList = await WorkingCenterService.FetchGetAllAsync();
        if (objList == null) { toastService.ShowError(@SharedLocalizer["OP_FAIL"], @SharedLocalizer["OP_FAIL_TITLE"]); }
        myBlocker.Hide();
    }

    private void Edit(DataGridRowMouseEventArgs<DocuitWeb.Models.WorkingCenter> eventArgs)
    {
        IsNew = false;
        buldingTypeRow = eventArgs.Item;
        objEdit = (DocuitWeb.Models.WorkingCenter)eventArgs.Item.Clone();
        modalWindow.Show();
    }

    private async void Delete()
    {
        myBlocker.Show();
        int return_code = await WorkingCenterService.DeleteAsync(objEdit);
        if (return_code == 0)
        {
            toastService.ShowSuccess(@SharedLocalizer["OP_OK"], @SharedLocalizer["OP_OK_TITLE"]);
            objList = await WorkingCenterService.FetchGetAllAsync();
        }
        else
        {
            toastService.ShowError(@SharedLocalizer["OP_FAIL"], @SharedLocalizer["OP_FAIL_TITLE"]);
        }
        myBlocker.Hide();
        CloseModal();
    }

    private async void Save()
    {
        myBlocker.Show();
        DocuitWeb.Models.WorkingCenter returning_obj;

        if (IsNew)
        { returning_obj = await WorkingCenterService.AddAsync(objEdit); }
        else
        { returning_obj = await WorkingCenterService.UpdateAsync(objEdit); }

        if (returning_obj == null)
        {
            toastService.ShowError(@SharedLocalizer["OP_FAIL"], @SharedLocalizer["OP_FAIL_TITLE"]);
        }
        else
        {
            toastService.ShowSuccess(@SharedLocalizer["OP_OK"], @SharedLocalizer["OP_OK_TITLE"]);
            if (IsNew)
            {
                objList.Append(returning_obj);
            }
            else
            {
                buldingTypeRow.Name = objEdit.Name;
            }
        }
        myBlocker.Hide();
        CloseModal();
    }

    private void Add()
    {
        IsNew = true;
        objEdit = new Models.WorkingCenter();
        objEdit.CompanyId = 1;
        OpenModal();
    }

    // Modal
    private void CloseModal()
    {
        modalWindow.Hide();
    }

    private void OpenModal()
    {
        modalWindow.Show();
    }

    private void OnClosing(CancelEventArgs e)
    {
        StateHasChanged();
    }

    void OnSelectedRowStyling(DocuitWeb.Models.WorkingCenter obj, DataGridRowStyling styling)
    {
        styling.Background = Background.White;
        StateHasChanged();
    }
}